@import url("https://fonts.googleapis.com/css2?family=Exo+2&display=swap");
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  line-height: 1;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Exo 2", sans-serif;
  overflow-x: hidden;
}

.list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.link {
  text-decoration: none;
  color: inherit;
}

.btn {
  margin: 0;
  padding: 0;
  background: transparent;
  border: none;
  font-family: inherit;
  color: inherit;
  cursor: pointer;
}

.input {
  margin: 0;
  padding: 0;
  background: transparent;
  border: none;
}

.title,
.text {
  margin: 0;
  padding: 0;
}

.hero__title {
  margin: 0 0 40px;
  font-size: 48px;
}

/* HEADER */
.header {
  background-color: rgb(223, 240, 216);
  color: rgb(60, 118, 61);
}
.header__container {
  margin: 0 auto;
  padding: 0 20px;
}
.header-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-menu__link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.header-menu__link.open-page {
  background-color: rgb(60, 118, 61);
  color: rgb(223, 240, 216);
}

.block-primer,
.hero-block {
  padding: 20px;
}

.export {
  background-color: orange;
}

.import {
  background-color: powderblue;
}

i {
  color: navy;
}

.export-import {
  background-color: rgb(223, 240, 216);
}