@import url("https://fonts.googleapis.com/css2?family=Exo+2&display=swap");
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  line-height: 1;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Exo 2", sans-serif;
  overflow-x: hidden;
}
.list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.link {
  text-decoration: none;
  color: inherit;
}
.btn {
  margin: 0;
  padding: 0;
  background: transparent;
  border: none;
  font-family: inherit;
  color: inherit;
  cursor: pointer;
}
.input {
  margin: 0;
  padding: 0;
  background: transparent;
  border: none;
}
.title,
.text {
  margin: 0;
  padding: 0;
}
.hero__title {
  margin: 0 0 40px;
  font-size: 48px;
}

/* HEADER */
.header {
  background-color: rgba(223, 240, 216, 1);
  color: rgba(60, 118, 61, 1);
  &__container {
    margin: 0 auto;
    padding: 0 20px;
  }
  &-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    &__link {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 20px;
      &.open-page {
        background-color: rgba(60, 118, 61, 1);
        color: rgba(223, 240, 216, 1);
      }
    }
  }
}

.block-primer,
.hero-block {
  padding: 20px;
}
.export {
  background-color: orange;
}
.import {
  background-color: powderblue;
}

i {
  color: navy;
}
.export-import {
  background-color: rgba(223, 240, 216, 1);
}
